<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Eliminação de Gauss</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="elsa-page">

<div class="pagina">

    <a href="/" class="voltar">⬅ Voltar</a>

    <h1>Eliminação de Gauss</h1>
    
    <!-- FORMULÁRIO --> 
    <form method="POST">
        
        <h3>Tamanho da Matriz</h3>
        
        <input 
            type="number" 
            name="n"
            min="2" 
            placeholder="Ex: 3" 
            required 
            > 
        
        <hr> 
        
        <h2>Matriz A</h2> 
        
        <textarea 
            name="matriz"
            rows="6" 
            placeholder="Digite a matriz linha por linha&#10;Ex:&#10;1 -3 2&#10;-2 8 -1&#10;4 -6 5" required ></textarea>
        
        <h2>Vetor b</h2>
        
        <textarea name="vetor" rows="4" placeholder="Digite o vetor b&#10;Ex:&#10;11&#10;-15&#10;29" required ></textarea> 
        
        <button type="submit" name="resolver" > ❄️ Resolver Sistema </button>
        
    </form> {% if resultado is not none %}
    
    <div class="resultado">
        
        <h2>✨ Solução Encontrada</h2> 
        
        {% for valor in resultado %}
        
        <p> x{{ loop.index }} = {{ "%.6f"|format(valor) }} </p>
        
        {% endfor %} </div>
    
    {% endif %}

</div>

</body>

</html>
